/*variables*/
$light-gray: #C8DEF5;
$charcoal: #161817;
$headerred: #F33229;
$blue: #2574BE;

body{
  background-color: $light-gray;
  color: $charcoal;
  font-family: Alegreya, sans-serif;
  letter-spacing: 2px;
}

.wrapper{
  width: 70%;
  padding: 10% 40%;
}

h1{
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 5%;
  color: $headerred;
}

.plusButton{
  font-size: 1em;
  padding: .35em 1em;
  margin: 0 3%;
  color: $light-gray;
  background-color: $blue;
}

form{
  margin-bottom: 10%;
}

input{
  height: 1.5em;
  outline: none;
  letter-spacing: 1.5px;
  border-style: none;
}

li{
  padding: 2%;
  border-bottom: solid 2px $charcoal;
  width: 35%;
  input{
    margin-right: 10%;
  }
}

.fa-times-circle-o{
float: right;
}

.blued{
  color: $blue;
  border-bottom: none;
  text-decoration: line-through;
}
